         /* 
    font-family: 'Lato', sans-serif;
    font-family: 'Slabo 27px', serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pangolin', cursive;
    font-family: 'Rancho', cursive;
    font-family: 'Tangerine', cursive;
    font-family: 'Bad Script', cursive;
    <link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">

     */
         
         body {
             margin: 0px;
             padding: 0px;
             border: 0px;
             font-family: 'Fira Sans', sans-serif;
             font-size: 16px;
             letter-spacing: 2px;
             line-height: 1em;
         }
         
         .clr {
             clear: both;
         }
         
         #wrapper .container-fluid {
             padding: 0;
             margin: 0px;
             /* to get full page width */
         }
         
         hr {
             background: #500;
             height: 0.08em;
         }
         /*-----------------------------------
              Header and Navigations Bar
          ------------------------------------*/
         
         .icon-bar {
             background: #fff;
         }
         
         #site-nav {
             /*background: rgba(71,209,174,0.9);
             background: rgba(0, 184, 138, 0.8);
             background: rgba( 0, 0, 0, .7);*/
             background: #44251c;
         }
         
         #logo {
             width: 2.250em;
             height: 2.250em;
             /* background-image:url('logo.png');*/
             background-color: #500;
             color: #fff;
             font-family: 'Dancing Script', cursive;
             font-weight: bolder;
             font-size: 2.2em;
             line-height: 1.43em;
             text-indent: 0.329em;
             border: 2px solid #fff;
             border-radius: 50%;
             margin: 0.5em;
             float: left;
         }
         
         #main-nav a {
             text-transform: uppercase;
             font-weight: bold;
             color: #fff;
             margin: 2em 2em 0 0;
             padding: 1em;
             outline: 0;
         }
         
         #main-nav a:hover {
             border-bottom: 3px solid #fff;
             background: none;
         }
         
         #main-nav a:active {
             border-bottom: 3px solid #ff0088;
             background: none;
         }
         /*-----------------------------------
                        profile section
            -----------------------------------*/
         
         #profile {
             position: relative;
             background: rgb(0, 184, 138);
             padding: 10em 0 6.1em 0;
             color: #fff;
             text-align: center;
         }
         
         .profile-title {
             text-transform: capitalize;
             font-family: 'Dancing Script', cursive;
             font-size: 5em;
         }
         
         .profile-description {
             font-size: 1.6 em;
             font-family: 'Bad Script', cursive;
             line-height: 1.6em;
             position: relative;
             margin: 4em 4em 2.1em;
             color: #f8f8ff;
             z-index: 2;
         }
         
         .check-profile-container,
         .profile-title {
             position: absolute;
             z-index: 2;
             /* left:0 right:0 and margin-left:0 ,margin-right : 0 to place it  vertically in center  */
             left: 0;
             right: 0;
             margin: 0 auto;
         }
         
         #profile .btn-check-profile {
             border-color: #fff;
             color: #fff;
             margin: 2em 0;
             font-weight: bold;
             padding: 1.2em;
             background: #500;
         }
         
         #profile .btn-check-profile:hover {
             background: #FFF;
             color: #500;
             border-color: #500;
         }
         /* transparent overlay effect on profile section */
         
         .profile-transparent-overlay {
             top: 7em;
             position: absolute;
             width: 100%;
             height: 553px;
             /*background-color: rgba( 255, 0, 136, .7);*/
             background-color: rgba( 85, 0, 0, .6);
             z-index: 0;
         }
         /* end of profile section ruels */
         /*-----------------------
                 portfolio
         -------------------------*/
         
         #portfolio {
             padding: 8em 2em 1em;
             color: #fff;
             text-align: center;
         }
         /* portfolio image overlay */
         
         .img-container {
             font-size: 0;
             display: flex;
             flex-wrap: wrap;
             justify-content: space-between;
         }
         
         .img-container img {
             width: 400px;
             height: 400px;
             margin-bottom: 1em;
         }
         
         .img-link {
             display: inline-block;
             font-size: 16px;
             margin-bottom: 8px;
             width: calc(50%-4px);
         }
         
         .img-portfolio {
             position: relative;
         }
         
         .img-caption {
             background: rgba( 85, 0, 0, .8);
             transition: .5s ease;
             opacity: 1;
             position: absolute;
             top: 50%;
             left: 50%;
             height: 100%;
             width: 100%;
             transform: translate(-50%, -50%);
             -ms-transform: translate(-50%, -50%);
         }
         
         .img-portfolio:hover .img {
             opacity: 1;
         }
         
         figure:hover .img-caption {
             opacity: 0;
             display: none;
         }
         
         .img-caption .caption-title {
             position: relative;
             font-family: 'Dancing Script', cursive;
             color: #fff;
             font-size: 2em;
             font-weight: bold;
             padding: .2em .3em;
             top: 40%;
             height: 100%;
         }
         /*   @media screen and (min-width:50em) {
             a {
                 width: calc(50%-6px);
             }
         }*/
         
         #portfolio h1,
         #contact h1 {
             color: #500;
             font-size: 2em;
             letter-spacing: 0.2em;
             text-align: center;
         }
         /*-----------------------------------
                    contact form 
          -----------------------------------*/
         
         #contact {
             padding: 8em 2em 0;
             color: #500;
             text-align: left;
         }
         
         #contact p {
             font-size: 2em;
             /*font-family: 'Lato', sans-serif;*/
             font-family: 'Tangerine', cursive;
             text-align: left;
             line-height: 1.5em;
         }
         
         #contact-form {
             padding-left: 0.3em;
         }
         
         #send-msg-btn {
             background: #500;
             color: #fff;
             border-color: #44251c;
             font-size: 1em;
             padding: 1em 1.5em;
             text-transform: uppercase;
             border: 2px solid transparent;
             display: block;
             margin: 0 auto;
             text-align: center;
             -webkit-border-radius: 6px;
             -moz-border-radius: 6px;
             -ms-border-radius: 6px;
             -o-border-radius: 6px;
             border-radius: 6px;
         }
         
         #send-msg-btn:hover {
             background: #FFF;
             color: #500;
             border-color: #500;
             font-weight: bold;
         }
         
         .plane {
             padding: 0 0.5em 0 0.3em;
         }
         
         .form-item {
             margin-bottom: 0.5em;
             padding-bottom: 0.5em;
             border-bottom: 1px solid #500;
         }
         
         .form-item input,
         .form-item textarea {
             padding-right: 0;
             padding-left: 0;
             border: 0;
             font-size: 1.5em;
             box-shadow: none!important;
             resize: none;
             width: 100%;
         }
         
         .form-item label {
             display: none;
         }
         
         .form-item input:focus,
         .form-item textarea:focus {
             outline: 0;
             border: 0;
         }
         /*-------------------------------
                    footer 
          -------------------------------*/
         
         #footer {
             padding: 2em 0;
             background: #44251c;
             font-size: 30px;
             letter-spacing: 5px;
             text-align: center;
         }
         
         #footer li {
             list-style-type: none;
             line-height: 2em;
             display: inline;
         }
         /*------------------------------
            Scroll Top button
         *-------------------------------*/
         
         .scroll-top a {
             color: #fff;
             font-weight: bold;
             line-height: 2em;
             background: #ff0088;
             width: 50px;
             height: 50px;
             padding: 10px;
             border-radius: 50%;
             position: fixed;
             right: 10px;
             bottom: 10px;
             /*display: none;*/
         }
         /*---------------------------------
            Mobile layout media queries
            --------------------------------*/
         
         @media only screen and (max-width: 480px) {
             #contact-form {
                 padding-left: 0.3em;
                 width: 100%;
             }
             .form-horizontal .form-group {
                 margin-right: 15px;
                 margin-left: 15px;
             }
             .img-container img {
                 width: calc(100% - 25px);
             }
         }