@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Arvo|Concert+One');

/* 
font-family: "Fira Sans", sans-serif;
font-family: 'Arvo', serif; 
font-family: 'Concert One', cursive;
*/
body {
    padding: 0;
    margin: 0;
    font-family: "Fira Sans", sans-serif;
    scroll-behavior: smooth;
}

.container {
    background-image: linear-gradient(to left bottom,
        #051937,
        #112351,
        #282b6b,
        #453183,
        #663399);
    color: #ffffff;
}

.header {
    transition: all 0.5s;
}

/* logo*/
.logo {
    flex: 1;
    margin: 0 0.8rem;
}

.logo-text {
    margin: 0;
    color: #a5f510;
    font-size: 1.6rem;
    height: 4rem;
    width: 4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-family: 'Concert One', cursive;
}

/* Navbar */

.navbar {
    flex: 3;
    display: flex;
    align-items: center;
}

.navbar .fa-github {
    font-size: 2rem;
}

/* top fixed navbar on scrolling*/
.fixed-nav .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to left bottom,
        #051937,
        #112351,
        #282b6b,
        #453183,
        #663399);
    z-index: 99;
}

.navbar ul {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.navbar li {
    list-style-type: none;
    box-sizing: border-box;
}

.navbar a {
    text-decoration: none;
    padding: 0.625em 1.25rem;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.9);
}

.navbar a:focus,
.navbar a:hover {
    color: rgb(255, 255, 255);
    font-weight: 800;
}

.navbar a:active {
    color: #a5f510;
}

/* homepage  - profile  */

.profile-container {
    padding: 4.2rem 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: #eef0f2;
}

.profile-title {
    font-size: 2.5rem;
}

.profile-name {
    font-size: 3.5rem;
    color: #ffffff;
    font-family: 'Concert One', cursive;
    font-weight: 400;
    text-shadow: 0 0 20px #ff0088;
    position: relative;
    padding: 1rem;
}

.profile-text {
    font-size: 1.4rem;
}

.profile-role {
    font-size: 2.5rem;
    color: #ffffff;
    font-family: 'Concert One', cursive;
    text-shadow: 0 0 20px #ff0088;
    padding: 0.5rem;
    position: relative;
}

.profile-name::after,
.profile-role::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: #ff0088;
    z-index: -1;
    filter: blur(15px);
    padding: 1rem;
}

.profile-name::before,
.profile-role::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ff0088;
    opacity: 0.7;
    padding: 1rem;
    filter: blur(45px);
    z-index: -2;
}

.contact-link {
    flex: 1;
    padding: 0.9rem 2rem;
    margin: 3rem 0;
    border-radius: 1.5rem;
    text-decoration: none;
    background-color: #a5f510;
    transition: all 0.3s;
    color: #222222;
    font-weight: 800;
}

.contact-link:hover,
.contact-link:focus {
    background-color: #a5f510;
    transform: scale(1.02);
}

/* portfolio - projects*/

.portfolio-container {
    background-color: #eef0f2;
    color: #222222;
}

.fixed-nav .portfolio-container {
    padding-top: 6.6rem;
}

.portfolio-title {
    text-align: center;
    padding: 2.5rem 0 0 0;
    font-size: 1.6rem;
    margin: 0;
    font-family: 'Concert One', cursive;

}

.portfolio-text {
    text-align: center;
    font-size: 1.2rem;
}

/* project cards section*/

.projects-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}

.projects-container:last-child() {
    display: none;
}

.card-wrapper {
    margin: 30px;
    width: 300px;
    height: 350px;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 90;
}

.card-wrapper:hover {
    transform: scale(1.01);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* corner github ribbon */
.ribbon-wrapper {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
}

.ribbon {
    font: bold 15px Sans-Serif;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #fca311;
    background-image: -webkit-linear-gradient(top, #fca311, #fcb33c);
    background-image: -moz-linear-gradient(top, #fca311, #fcb33c);
    background-image: -ms-linear-gradient(top, #fca311, #fcb33c);
    background-image: -o-linear-gradient(top, #fca311, #fcb33c);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.ribbon:before,
.ribbon:after {
    content: "";
    border-top: 3px solid #fca311;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px;
}

.ribbon:before {
    left: 0;
}

.ribbon:after {
    right: 0;
}

.ribbon a {
    text-decoration: none;
    color: #222222;
    padding: 8px;
}

/* project card content */

.thumbnail-img img {
    width: 300px;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.project-content {
    text-align: center;
    color: #404040;
}

.project-title {
    margin: 5px 0;
    font-family: 'Arvo', serif;
}

.project-info {
    font-size: 1rem;
}

/* project card buttons */
.btn {
    text-decoration: none;
    padding: 10px 10px;
    margin: 0 12px;
    border-radius: 5px;
}

.btn-dark {
    color: #222222;
    padding: 6px 8px;
    background-color: #a5f510;
    font-size: 1.1rem;
    font-weight: 500;
}

.btn-dark:hover {
    background-color: #7cbb08;
}

.btn-dark:focus {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
    outline: none;
}

.project-labels {
    font-size: 0.8rem;
    color: #404040;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    z-index: 10;
}

.project-labels span {
    text-align: center;
    margin: 0 5px;
    padding: 2px 4px;
    border-radius: 6px;
    background-color: rgb(0, 0, 0, 0.1);
}

/* about me section */
.text-center {
    text-align: center;
}

.about-container {
    color: #222222;
    background: #ffffff;
    display: flex;
    justify-content: center;
    padding: 2.5rem 1rem;
    font-family: "Arvo", sans-serif;

}

.about-title,
.skills-title {
    text-align: center;
    font-size: 1.6rem;
    margin: 0;
    padding: 5rem 0 2rem 0;
    font-family: 'Concert One', cursive;
}

.aboutme-wrapper,
.skills-wrapper {
    flex: 1;
    font-size: 1.1rem;
    padding: 1rem;
    color: #505050;
    font-family: 'Arvo', serif;

}

.aboutme-content {
    padding: 1rem 2rem;
    text-align: justify;
    border-radius: 12px;
    box-shadow: 0 0 5px 0 #aaaaaa;
}


.check-progress {
    font-size: 1rem;
    text-align: center;
}

.main-text {
    font-weight: 800;
}

.skills-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 0 5px 0 #aaaaaa;
    min-height: 455px;
}

.skills-col {
    margin: 0.4rem;
    flex: 1;
}

.skills-container .icons {
    flex-flow: row wrap;
}

.skills-container .icons li {
    margin: 0;
    width: auto;
    height: auto;
    padding: 1.3rem;
    color: #505050;
    font-size: 1.2rem;
    background-color: #ffffff;
    border-radius: 0;
    white-space: pre-wrap;
}

/* contact me section*/
.contact-container {
    height: 65vh;
    color: #222222;
    background: #eef0f2;
    padding: 2rem 1rem;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.contact-title {
    text-align: center;
    padding: 2rem 0;
    font-size: 1.6rem;
    margin: 0;
    font-family: 'Concert One', cursive;
}

.contact-text {
    text-align: center;
    font-size: 1.4rem;
}

.email,
.discord {
    font-size: 1.2rem;
}

.email {
    margin-left: 1.5rem;
}

/* Footer section */
.footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.footer .icons li:hover {
    background: #faebd7;
}

.footer .icons li {
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
}

.footer p {
    margin: 0.5rem;
}

/* Font awesome icons */
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.icons li {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height: 3.5rem;
    width: 3.5rem;
    font-size: 2rem;
    border-radius: 50%;
    margin: 1rem;
    background: #112351;
    color: #ffffff;
}

.icons .fab,
.icons .fas {
    color: #ffffff;
}

.icons .github-icon {
    background-color: #333333;
}

.icons .fa-code-branch {
    color: #f14e32;
}

.icons .fcc-icon {
    background-color: #006400;
}

.icons .codepen-icon {
    background-color: #0ebeff;
}

.icons .twitter-icon {
    background-color: #1da1f2;
}

.icons .facebook-icon {
    background-color: #3b5998;
}

.icons .linkedin-icon {
    background-color: #0077b5;
}


.skills li .fab {
    color: #222222;
    font-size: 2rem;
}

.skills .html5-icon .fab {
    color: #e34f26;
}

.skills .css3-icon .fab {
    color: #0077b5;
}

.skills .js-icon {
    color: #222222;
}

.skills .js-icon .fab {
    color: #ebd00b;
}


.skills .react-icon .fab {
    color: #00d8ff;
}

.contact-icons li {
    height: 3rem;
    width: 3rem;
    font-size: 1.6rem;
}

.email .fa-envelope {
    font-size: 1.4rem;
    color: #ea4335;
}

.discord .fa-discord {
    font-size: 1.6rem;
    color: #2c2f33;
}

.footer .fa-heart {
    color: #ff0088;
}

.footer .icons li .fab {
    color: #222222;
}

.redux-icon img,
.graphql-icon img,
.eslint-icon img,
.babel-icon img,
.gatsby-icon img,
.webpack-icon img {
    width: 2rem;
}